<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--binding repositories with interfaces and models-->
    <preference for="Smile\ContactMessage\Api\Data\MessageSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Smile\ContactMessage\Api\Data\MessageInterface" type="Smile\ContactMessage\Model\Message"/>
    <preference for="Smile\ContactMessage\Api\MessageRepositoryInterface" type="Smile\ContactMessage\Model\MessageRepository"/>
    <!--describe entities-->
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Smile\ContactMessage\Api\Data\MessageInterface" xsi:type="string">Smile\ContactMessage\Api\Data\MessageInterface</item>
            </argument>
        </arguments>
    </type>
    <!--binding grid to collections-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contact_message_listing_data_source" xsi:type="string">Smile\ContactMessage\Model\ResourceModel\Message\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!--settings grid collection-->
    <type name="Smile\ContactMessage\Model\ResourceModel\Message\Grid\Collection" >
        <arguments>
            <argument name="mainTable" xsi:type="string">smile_contact_message</argument>
            <argument name="eventPrefix" xsi:type="string">smile_contact_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">smile_contact_collection</argument>
            <argument name="resourceModel" xsi:type="string">Smile\ContactMessage\Model\ResourceModel\Message</argument>
        </arguments>
    </type>
    <!--Include Grid FilterPull-->
    <virtualType name="ContactMessageGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <!--Include SmileContactMessagePlugin-->
    <type name="Magento\Contact\Controller\Index\Post">
        <plugin
                name="SmileContactMessagePlugin"
                type="Smile\ContactMessage\Plugin\SmileContactMessagePlugin"
                sortOrder ="10"
                disabled="false"
        />
    </type>
</config>
